@charset "UTF-8";
@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-ExtraBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/subset-Manrope-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-ExtraBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/Onest-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color: #fff;
  --1: #da1a1f;
  --100: #212026;
  --40: #bab9be;
  --seryy: #f2f2f9;
  --60: #929095;
  --2: #3343a9;
  --obvodka: #dadae7;
  --80: #4a484f;
  --font-family: 'Onest', sans-serif;
  --second-family: 'Manrope', sans-serif;
  --third-family: 'Inter Tight', sans-serif;
  --font3: 'Raleway', sans-serif;
  --font4: 'DIN Pro', sans-serif;
}

/* Обнуление */
* {
  margin: 0;
  padding: 0;
  border: 0;
}
*::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  display: inline-block;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 18px;
  line-height: 1;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li,
ol li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

span {
  display: inline-block;
}

#app {
  overflow-x: hidden;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: var(--font-family);
  position: relative;
}
@media (min-width: 993px) {
  #app {
    min-height: 100%;
  }
}
#app.lock {
  overflow: hidden;
}

body.lock {
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-top: clamp(63px, 5.069vw, 73px);
}

.container {
  margin: 0 auto;
  max-width: clamp(320px, 97.222vw, 1880px);
  padding: 0 clamp(10px, 2.083vw, 30px);
}
.mt-110 {
  margin-top: clamp(60px, 7.639vw, 110px);
}

.default-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(30px, 2.917vw, 42px);
  line-height: 121%;
  letter-spacing: -0.01em;
  color: var(--100);
  margin-bottom: clamp(20px, 2.083vw, 30px);
}

.main-title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: clamp(30px, 2.917vw, 42px);
  line-height: 121%;
  letter-spacing: -0.01em;
  color: var(--100);
}

.swiper-top .swiper-controls {
  display: none;
  z-index: 1;
}
@media (min-width: 993px) {
  .swiper-top .swiper-controls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 8px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: clamp(-20px, -2.083vw, -30px);
  }
}

.swiper .swiper-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: clamp(20px, 1.736vw, 25px);
}
@media (min-width: 993px) {
  .swiper .swiper-controls {
    display: none;
  }
}

.swiper .swiper-controls p {
  font-weight: 400;
  font-size: clamp(14px, 0.972vw, 14px);
  line-height: 136%;
  text-align: center;
  color: var(--40);
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 16px;
  position: relative;
  color: var(--white);
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--2);
  width: clamp(44px, 3.056vw, 44px);
  height: clamp(44px, 3.056vw, 44px);
}

.swiper .swiper-controls .swiper-button-next,
.swiper .swiper-controls .swiper-button-prev {
  border-radius: 8px;
  width: clamp(30px, 2.083vw, 30px);
  height: clamp(30px, 2.083vw, 30px);
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 0;
  left: 0;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 0;
  right: 0;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: unset;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: unset;
}

.swiper-button-next svg,
.swiper-button-prev svg {
  width: unset;
  height: unset;
}